@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.btn-primary {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #000));
  background: linear-gradient(to left, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 500;
  -webkit-transition: background-position 0.5s, color 0.5s;
  transition: background-position 0.5s, color 0.5s;
  border: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-primary:hover {
  background-position: right bottom;
  border: 1px solid #e0e0e0;
  color: #000;
}

.btn-secondary {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #000), color-stop(50%, #fff));
  background: linear-gradient(to left, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: #000;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 500;
  -webkit-transition: background-position 0.5s, color 0.5s;
  transition: background-position 0.5s, color 0.5s;
  border: 1px solid #999999;
  outline: none;
  cursor: pointer;
  border-radius: 0px !important;
}

.btn-secondary:hover {
  background-position: right bottom;
  border: 1px solid #999999;
  color: #fff;
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0 !important;
}

header .navbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
}

.consultation .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation .content .col-lg-6,
.consultation .content .col-lg-5,
.consultation .content .col-lg-8 {
  margin-bottom: 32px;
}

.consultation .content .col-lg-6 .flex-column,
.consultation .content .col-lg-5 .flex-column,
.consultation .content .col-lg-8 .flex-column {
  gap: 24px;
}

.consultation .content .col-lg-6 .flex-column .btn-group,
.consultation .content .col-lg-5 .flex-column .btn-group,
.consultation .content .col-lg-8 .flex-column .btn-group {
  gap: 24px;
}

.consultation .content .col-lg-6 .flex-column .btn-primary,
.consultation .content .col-lg-5 .flex-column .btn-primary,
.consultation .content .col-lg-8 .flex-column .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
}

.consultation .content .col-lg-6 .flex-column .text-heading,
.consultation .content .col-lg-5 .flex-column .text-heading,
.consultation .content .col-lg-8 .flex-column .text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.consultation .content .col-lg-6 .flex-column .text-heading span,
.consultation .content .col-lg-5 .flex-column .text-heading span,
.consultation .content .col-lg-8 .flex-column .text-heading span {
  border: 1px solid #000;
  padding: 8px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}

.consultation .content .col-lg-6 .flex-column .text-heading h3,
.consultation .content .col-lg-5 .flex-column .text-heading h3,
.consultation .content .col-lg-8 .flex-column .text-heading h3 {
  font-weight: 700;
  font-size: 44px;
  color: #000;
  line-height: 60px;
}

.consultation .content .col-lg-6 .flex-column p,
.consultation .content .col-lg-5 .flex-column p,
.consultation .content .col-lg-8 .flex-column p {
  color: #565656;
}

.consultation .content .col-lg-6 .flex-column .list,
.consultation .content .col-lg-5 .flex-column .list,
.consultation .content .col-lg-8 .flex-column .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.consultation .content .col-lg-6 .flex-column .list .list-item,
.consultation .content .col-lg-5 .flex-column .list .list-item,
.consultation .content .col-lg-8 .flex-column .list .list-item {
  gap: 16px;
}

.consultation .content .col-lg-6 .flex-column .list .list-item img,
.consultation .content .col-lg-5 .flex-column .list .list-item img,
.consultation .content .col-lg-8 .flex-column .list .list-item img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 48px;
  height: 48px;
}

.consultation .content .col-lg-5 .hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
}

.card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card-product .card-product-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px;
  gap: 32px;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 100%;
}

.card-product .card-product-item .d-flex {
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-product .card-product-item .d-flex img {
  width: 185px;
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product .card-product-item .d-flex .card-detail {
  width: 100%;
}

.card-product .card-product-item .d-flex .card-detail h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  width: 100%;
}

.card-product .card-product-item .d-flex .card-detail p {
  color: #565656;
  margin-bottom: 12px;
}

.card-product .card-product-item .collapse {
  width: 100%;
}

.card-product .card-product-item .collapse #accordion .card {
  margin-bottom: 10px;
}

.card-product .card-product-item .collapse #accordion .card .card-header h5 button {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  width: 100%;
  padding: 12px 24px !important;
  height: auto;
  border: 1px solid #e0e0e0 !important;
}

.simulation {
  padding: 0 !important;
}

.simulation .container {
  background-color: #eeeeee;
}

.simulation .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simulation .content .col-lg-7,
.simulation .content .col-md-10,
.simulation .content .col-sm-12 {
  background-color: #fff;
  padding: 24px 24px;
}

.simulation .content .col-lg-7 label,
.simulation .content .col-md-10 label,
.simulation .content .col-sm-12 label {
  font-weight: 600 !important;
}

.simulation .content .col-lg-7 label .hint,
.simulation .content .col-md-10 label .hint,
.simulation .content .col-sm-12 label .hint {
  font-weight: 400;
  color: #9f9f9f !important;
}

.simulation .content .col-lg-7 .flex-column,
.simulation .content .col-md-10 .flex-column,
.simulation .content .col-sm-12 .flex-column {
  gap: 24px;
}

.simulation .content .col-lg-7 .flex-column .btn-group,
.simulation .content .col-md-10 .flex-column .btn-group,
.simulation .content .col-sm-12 .flex-column .btn-group {
  gap: 24px;
}

.simulation .content .col-lg-7 .flex-column .btn-primary,
.simulation .content .col-md-10 .flex-column .btn-primary,
.simulation .content .col-sm-12 .flex-column .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
}

.simulation .content .col-lg-7 .flex-column .text-heading,
.simulation .content .col-md-10 .flex-column .text-heading,
.simulation .content .col-sm-12 .flex-column .text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.simulation .content .col-lg-7 .flex-column .text-heading span,
.simulation .content .col-md-10 .flex-column .text-heading span,
.simulation .content .col-sm-12 .flex-column .text-heading span {
  border: 1px solid #000;
  padding: 8px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}

.simulation .content .col-lg-7 .flex-column .text-heading h3,
.simulation .content .col-md-10 .flex-column .text-heading h3,
.simulation .content .col-sm-12 .flex-column .text-heading h3 {
  font-weight: 700;
  font-size: 28px;
  color: #000;
  line-height: 30px;
}

.simulation .content .col-lg-7 .flex-column p,
.simulation .content .col-md-10 .flex-column p,
.simulation .content .col-sm-12 .flex-column p {
  color: #565656;
}

.simulation .content .col-lg-7 .flex-column .list,
.simulation .content .col-md-10 .flex-column .list,
.simulation .content .col-sm-12 .flex-column .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.simulation .content .col-lg-7 .flex-column .list .list-item,
.simulation .content .col-md-10 .flex-column .list .list-item,
.simulation .content .col-sm-12 .flex-column .list .list-item {
  gap: 16px;
}

.simulation .content .col-lg-7 .flex-column .list .list-item img,
.simulation .content .col-md-10 .flex-column .list .list-item img,
.simulation .content .col-sm-12 .flex-column .list .list-item img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 48px;
  height: 48px;
}

.form-control {
  border-radius: 0 !important;
  width: 100%;
  padding: 24px 24px !important;
  border: 1px solid #999999 !important;
}

.form-control:focus {
  -webkit-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.8);
}

.select {
  border-radius: 0 !important;
  width: 100%;
  padding: 16px 16px !important;
  border: 1px solid #e0e0e0 !important;
}

.form-control::-webkit-input-placeholder {
  color: #a5a5a5;
}

.form-control:-ms-input-placeholder {
  color: #a5a5a5;
}

.form-control::-ms-input-placeholder {
  color: #a5a5a5;
}

.form-control::placeholder {
  color: #a5a5a5;
}

.form-group label span {
  color: red !important;
}

.rad-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: rgba(204, 204, 204, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  background: -webkit-gradient(linear, left top, right bottom, from(#424242), to(#141414));
  background: linear-gradient(to right bottom, #424242, #141414);
  position: relative;
}

.rad-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #e6e6e6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.rad-text {
  color: #999999;
  margin-left: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: #666666;
}

.card-doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  border: 1px solid #e0e0e0;
  background: #fff;
  -webkit-box-shadow: 24px 24px 48px 0px rgba(0, 0, 0, 0.1), -24px -24px 48px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 24px 24px 48px 0px rgba(0, 0, 0, 0.1), -24px -24px 48px 0px rgba(255, 255, 255, 0.3);
  padding: 32px;
}

.card-doctor .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-doctor .profile img {
  width: 88px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000;
}

.card-doctor .profile h5 {
  font-size: 24px;
}

.card-doctor .profile p {
  color: #fff;
}

.card-doctor .card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.card-doctor .card-button .btn {
  width: 100% !important;
}

#shadow-host-companion {
  display: none !important;
}

.simulation .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.simulation .image-container .overlays {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-89deg, #fff 2.66%, rgba(255, 255, 255, 0) 108.69%);
}

.simulation .image-container .overlays2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(359deg, #fff 15.99%, rgba(255, 255, 255, 0) 36.99%);
}

.simulation .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.simulation .text-heading h3 {
  font-size: 32px;
  font-weight: 700;
}

.simulation .text-heading p {
  font-size: 16px;
}

.form-simulation {
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 9px 9px 18px 0px rgba(121, 121, 121, 0.1), -9px -9px 18px 0px rgba(170, 170, 170, 0.05);
          box-shadow: 9px 9px 18px 0px rgba(121, 121, 121, 0.1), -9px -9px 18px 0px rgba(170, 170, 170, 0.05);
}

#highlight {
  color: #e83f43;
}

.image-banner {
  width: 100%;
  height: 43vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s 0.4s ease forwards;
          animation: fadeIn 0.8s 0.4s ease forwards;
}

.intro .title {
  display: inline-block;
}

.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s 0.6s ease forwards;
          animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-item.active .hide-mobile {
  display: none;
}

.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}

.nav-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

.controls {
  position: relative;
  z-index: 1;
  padding: 0.25rem 0 0.25rem 0;
}

.controls .previous {
  border: 1px solid #fff;
  background: #000;
}

.controls .next {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #000;
}

.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 1px;
  background-color: currentColor;
}

.controls .icon.arrow-left::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.controls .icon.arrow-right::before {
  content: "";
  position: absolute;
  right: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.previous,
.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-size: 2rem;
  color: #fff;
}

.previous:hover .icon,
.next:hover .icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.previous .icon,
.next .icon {
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.active .image-holder::before {
  position: absolute;
  content: "";
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
          animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@-webkit-keyframes revealRight {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes revealRight {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.toggle-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.9;
}

.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}

.flex-nav ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav-form {
  position: absolute;
  bottom: 50%;
  width: 100%;
  padding: 0 32px;
}

.simulation .container-right {
  margin-bottom: 4em;
}

@media screen and (max-width: 1024px) {
  .simulation form {
    height: auto !important;
  }
  .simulation .container-left {
    height: auto !important;
  }
  .simulation .container-right {
    margin-bottom: 32px;
  }
  .h-100 {
    height: auto !important;
  }
  .nav-form {
    background-color: #fff;
    bottom: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    border-top: 1px solid #e0e0e0;
  }
  #main {
    height: auto;
  }
  .overlays,
  .overlays2 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */