@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.btn-primary {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #000));
  background: linear-gradient(to left, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 500;
  -webkit-transition: background-position 0.5s, color 0.5s;
  transition: background-position 0.5s, color 0.5s;
  border: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-primary:hover {
  background-position: right bottom;
  border: 1px solid #e0e0e0;
  color: #000;
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0 !important;
}

header .navbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultation .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation .content .col-lg-6 {
  margin-bottom: 32px;
}

.consultation .content .col-lg-6 .flex-column {
  gap: 24px;
}

.consultation .content .col-lg-6 .flex-column .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
}

.consultation .content .col-lg-6 .flex-column .text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.consultation .content .col-lg-6 .flex-column .text-heading span {
  border: 1px solid #000;
  padding: 8px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}

.consultation .content .col-lg-6 .flex-column .text-heading h3 {
  font-weight: 700;
  font-size: 44px;
  color: #000;
  line-height: 60px;
}

.consultation .content .col-lg-6 .flex-column p {
  color: #565656;
}

.consultation .content .col-lg-6 .flex-column .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.consultation .content .col-lg-6 .flex-column .list .list-item {
  gap: 16px;
}

.consultation .content .col-lg-6 .flex-column .list .list-item img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 48px;
  height: 48px;
}

.consultation .content .col-lg-5 .hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
}

.form-control {
  border-radius: 0 !important;
  width: 100%;
  padding: 24px 24px !important;
  border: 1px solid #f2f2f2 !important;
}

.select {
  border-radius: 0 !important;
  width: 100%;
  padding: 16px 16px !important;
  border: 1px solid #f2f2f2 !important;
}

.form-control::-webkit-input-placeholder {
  color: #a5a5a5;
}

.form-control:-ms-input-placeholder {
  color: #a5a5a5;
}

.form-control::-ms-input-placeholder {
  color: #a5a5a5;
}

.form-control::placeholder {
  color: #a5a5a5;
}

.form-group label span {
  color: red !important;
}

.rad-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: rgba(204, 204, 204, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  background: -webkit-gradient(linear, left top, right bottom, from(#424242), to(#141414));
  background: linear-gradient(to right bottom, #424242, #141414);
  position: relative;
}

.rad-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #e6e6e6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.rad-text {
  color: #999999;
  margin-left: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: #666666;
}
/*# sourceMappingURL=main.css.map */